h1{
	background-color: darkred;
	color: lavenderblush;
}

.flex-container{
	background-color: darkorange;
	height: 60vh;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 1rem;
/*	justify-content: flex-start;*/
	/*flex-wrap: wrap;
	align-content: space-between;*/
}
.flex-container >div{
	background-color: darkorchid;
	border: 2px solid darkcyan;
	height: 15vh;
	width: 300px;
	color: white;
/*	margin: 5px;*/
}